/***** Base *****/

* {
    box-sizing: border-box;
}

body,
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    height: 100%;
    overscroll-behavior-y: contain;
    background: #202428;
}

body,
button,
p,
ul {
    margin: 0;
    padding: 0;
}

button,
select {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
}

a,
button,
input,
select,
textarea {
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

:root {
    overflow-x: hidden;
    height: 100%;
}

@font-face {
    font-family: 'Aileron';
    src: url('../files/fonts/Aileron-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../files/fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #b0b0b0;
}

/***** Sections *****/

.Side {
    position: relative;
    width: 300px;
    height: 100%;
    overflow: auto;
    padding-bottom: 100px;
    background: #202020;
}

.Iframe {
    position: absolute;
    left: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: calc(100% - 300px);
    border: none;
    margin: 0;
}

/***** Navigation Bar *****/

div {
    margin: 0;
}

.Title {
    font-size: 18px;
    padding: 5px 5px 5px 10px;
    display: block;
    color: #00b4af;
}

.Section {
    font-weight: 400;
    padding: 5px 5px 5px 20px; /* top, right, bottom, left */
    color: #ff7100;
}

.Example {
    padding: 5px 5px 5px 30px; /* top, right, bottom, left */
    display: block;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
}

.Example.active {
    background-color: #00b4af;
    border-left: none;
    border-right: none;
    border-top: solid 2px #005a57;
    border-bottom: solid 2px #005a57;
    font-weight: bold;
    color: white;
}

/***** Icons *****/

.SideIcon,
.CodeIcon {
    position: absolute;
    display: block;
    z-index: 1;
    margin: 30px;
    width: 50px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    color: #202020;
    background: #00b4af;
    border-radius: 100%;
    border: solid 2px #005a57;
    font-size: 19px;
    letter-spacing: -0.1em;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

.CodeIcon {
    bottom: 0;
    right: 0;
}

.SideIcon {
    top: 20px;
    left: 245px;
    display: none;
}

@media (max-width: 600px) {
    .Side {
        z-index: 1;
    }
    .Iframe {
        left: 0;
        width: 100%;
    }
    .SideIcon {
        display: block;
    }
    [data-hideSidebar] .Side {
        transform: translateX(-100%);
    }

    [data-hideSidebar] .SideIcon {
        left: 0;
        transform: rotate(180deg);
    }
}

/***** Frame *****/

.Info {
    font-size: 16px;
    padding: 2px;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
    z-index: 1;
    color: #00b4af;
}

.Credits {
    font-size: 12px;
    padding: 2px;
    padding-left: 20px;
    position: relative;
    z-index: 1;
    color: #a05100;
}

.Credits a {
    color: #75b300;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
